.calendarHeader {
  background: #cadefc;
  height: 100px;
  padding: 0px 250px;
  display: flex;
  align-items: center;
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.calendarHeaderName {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.calendarHeaderName svg {
  color: #77acfc;
  font-weight: bold;
  margin-right: 3px;
}

.calendarHeaderOptions {
  display: flex;
  flex-flow: row;
  align-items: center;
  color: #77acfc;
  font-size: 20px;
}

.logOut__font {
  cursor: pointer;
  text-decoration: none;
  position: relative;
  color: #77acfc;
  font-size: 20px;
  margin-left: 20px;
}

.logOut__font::before {
  content: "";
  background-color: #77acfc;
  transition: 0.4s ease-out;
  width: 0%;
  height: 2px;

  position: absolute;
  left: 0;
  bottom: -3px;
}

.logOut__font:hover::before {
  width: 100%;
}

.calendarHeader h2 {
  margin: 0px;
  font-weight: 600;
  color: #88b6fc;
  font-size: 40px;
}
