.taskContent {
  display: flex;
  flex-flow: column;
  position: relative;
  background: white;
  border-radius: 15px;
  padding: 18px 25px;
  margin-bottom: 18px;
}

.taskContent_main {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.taskIcons,
.taskContent__name {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.icon {
  cursor: pointer;
  margin-left: 15px;
}

.taskContent_main p {
  font-size: 22px;
  margin: 0px;
}

.taskCheckbox {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #a7caff;
  margin-right: 12px;
  cursor: pointer;
}

.doneTask {
  background: #a7caff;
}

.doneTask__font {
  text-decoration: line-through;
}

.descriptionSection {
  font-size: 16px;
  margin: 0px;
  padding: 15px 15px 0 35px;
}

.hide {
  display: none;
}
